@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme inline {
  --shadow-pnk: 0 0 7.5px #fda5d5;
  --drop-shadow-wht: 0 0 3px #fff;
  --text-shadow-wht: 0 0 10px #fff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Exo 2", sans-serif;
}

@layer base {

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;

}

.scroll-hide::-webkit-scrollbar {
  display: none;
}